<?xml version="1.0"?>
<robot name="imu_sensor" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- ######### IMU ######### -->
    <xacro:macro name="sensor_imu" params="prefix ns:='' topic:='imu/data' parent *origin">
        <joint name="${prefix}_joint" type="fixed">
            <axis xyz="1 0 0"/>
            <!--origin xyz="0 0 0.2825"/-->
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${prefix}_link"/>
        </joint>

        <link name="${prefix}_link">
            <inertial>
            <origin xyz="0.0 0 0.01" rpy="0 0 0" />
            <mass value="0.005" />
            <inertia  ixx="1.391" ixy="0.004"  ixz="0.0"  iyy="6.853"  iyz="0.0"  izz="6.125" />
            </inertial>
            <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
            </visual>
        </link>

        <gazebo reference="${prefix}_link">
            <sensor name="${prefix}_sensor" type="imu">
                <always_on>1</always_on>
                <update_rate>30</update_rate>
                <topic>${topic}</topic>
            </sensor>
        </gazebo>
        
    </xacro:macro>
</robot>